<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
     point="org.eclipse.ui.views">
      <view
         name="Rapport de validation"
         icon="icons/pacmug.png"          
         class="fr.pacman.database.validation.ui.core.PacmanUIValidationView"
         id="fr.pacman.database.validation.ui.core.ValidationView"
         category="org.obeonetwork.od4is">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.pacman.database.validation.ui.handlers.ValidationGeneratorsHandler"
            commandId="fr.pacman.database.validation.ui.commands.ValidationGeneratorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.obeonetwork.is.designer.menu?after=additions">
         <menu
               id="fr.pacman.ui.menus.generators"
               icon="icons/pacmug.png"
               tooltip="Liste des générateurs Cali"
               label="Database">
            <command
                  commandId="fr.pacman.database.validation.ui.commands.ValidationGeneratorCommand"
                  id="fr.pacman.database.validation.ui.commands.ValidationGeneratorCommand" 
                  label="Validation database">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="database">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.pacman.database.validation.ui.commands.generatorsCategory"
            name="Generators">
      </category>
      <command
            categoryId="fr.pacman.database.validation.ui.commands.generatorsCategory"
            id="fr.pacman.database.validation.ui.commands.ValidationGeneratorCommand"
            name="Générer la validation du fichier database">
      </command>
   </extension>
</plugin>

